# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # Specify the version you desire here
      - image: circleci/php:7.2-node-browsers
    working_directory: ~/deploy


    steps:
      - checkout

      - run: sudo apt update # PHP CircleCI 2.0 Configuration File# PHP CircleCI 2.0 Configuration File sudo apt install zlib1g-dev libsqlite3-dev
      - run: sudo docker-php-ext-install zip

      # Download and cache dependencies
      - restore_cache:
          keys:
            # "composer.lock" can be used if it is committed to the repo
            - v1-dependencies-{{ checksum "composer.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: rm -f .env
      - run: mv .env.ci .env
      - run: composer install -n --prefer-dist

      - save_cache:
          key: v1-dependencies-{{ checksum "composer.json" }}
          paths:
            - ./vendor
  deploy:
    docker:
      # Specify the version you desire here
      - image: circleci/php:7.2-node-browsers
    working_directory: ~/deploy
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "3b:6a:82:6e:e9:e6:44:ba:8b:39:2b:04:06:e1:1d:9a"
      - run:
          name: Installation de deployer
          command : |
            curl -LO https://deployer.org/deployer.phar
            mv deployer.phar /usr/local/bin/dep
            chmod +x /usr/local/bin/dep
      -run:
          name: Deployer
          command: |
          dep build
workflows:
  version: 2
  notify_deploy:
    jobs:
      - build:
          filters:
              branches:
                only: master
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master